.header {
    text-align: center;
    padding: 100px 0;
}
 
.header h1 {
    font-size: 48px;
}
 
.header p {
    font-size: 18px;
    margin-bottom: 30px;
}
 
.footer {
    text-align: center;
    padding: 20px 0;
    background-color: #f8f9fa;
}